@each $key, $value in map-deep-get($grid, 'wide') {
    @if ($key == 'default') {
        .grid {
            width: 100%;
            display: block;
            padding: 0;

            &.wide {
                max-width: 1200px;
                margin: 0 auto;
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: getGap($key) * -1px;
            margin-right: getGap($key) * -1px;
        }

        // COLUMN OBJECT
        @include column($key);
    } @else {
        $width: map-deep-get($value, 'width');
        $breakpoint: map-deep-get($grid, 'breakpoint', $key);
        $min-width: map-deep-get($value, 'min-width');
        $max-width: map-deep-get($value, 'max-width');

        @media (min-width: $breakpoint * 1px) {
            .row {
                margin-left: getGap($key) * -1px;
                margin-right: getGap($key) * -1px;
            }

            // COLUMN OBJECT
            @include column($key);
        }

        @media (min-width: $min-width * 1px) and (max-width: $max-width * 1px) {
            .wide {
                width: $width * 1px;

                @if ($key == 'l') {
                    .row {
                        margin-left: getGap($key) * -1px;
                        margin-right: getGap($key) * -1px;
                    }

                    // COLUMN OBJECT
                    @include column($key);
                }
            }
        }
    }
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;

    [class*='col-'] {
        padding-left: 0;
        padding-right: 0;
    }
}
